:local( .header ) {
  align-items: center;
  background-color: rgb(255, 199, 93);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  width: 80%;
}

:local( .header_text ) {
  font-size: 1.5em;
}

:local( .person ) {
  align-items: center;
  display: flex;
}

:local( .person img ) {
  border-radius: 50%;
  height: 80px;
  margin-right: 20px;
}
