.main_login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 50%;
}

.login_elements_main {
  display: flex;
  flex-direction: column;
}

.logo_img {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.login_input {
  display: flex;
  flex-direction: column;
}

.login_btns {
  display: flex;
  flex-direction: column;
}

.play_btn {
  align-items: center;
  background-color: rgb(139, 85, 229);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  padding: 5px 15px;
  text-transform: uppercase;
  width: auto;
  margin-top: 15px;
}

.play_btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.config_link {
  background: none;
  border: none;
  font-size: 0;
  margin-top: 15px;
  cursor: pointer;
  width: 30px;
}

@media (max-width: 880px) {
  .main_login {
    width: 100%;
  }
}
