@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p, span, button {
  font-family: Montserrat , sans-serif;
  font-size: 16px;
}

.App {
  color: rgb(53, 48, 63);
  display: flex;
  font-family: Montserrat , sans-serif;
}
